fastapi
uvicorn[standard]

sqlalchemy
alembic

psycopg[binary]

pydantic-settings

python-dotenv

python-jose[cryptography]
passlib[bcrypt]

python-multipart

streamlit

requests

google-generativeai

email-validator